@import url("https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@500&family=Baloo+Bhaijaan+2:wght@400;500&family=Belgrano&family=Teko:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@500&family=Baloo+Bhaijaan+2:wght@400;500&family=Belgrano&family=Inter:wght@100;200;300;400;500;600;700&family=Teko:wght@300;400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black font-inter;
  }
}
@layer components {
  .headerLink {
    @apply cursor-pointer tracking-wide transition duration-300 ease-in-out hover:text-white/100;
  }
  .gradientBorder {
    @apply rounded-md bg-gradient-to-r from-orange-600  to-purple-600;
  }
  .gradient {
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(90deg,#ea580c,#1e1e1e,#9333ea) 1;
    border-radius: 10px;
  }
}
/* Blue/purple */
/* from-[#50afeb] to-[#cd0789] */

/* Orange/purple */
/* from-[#ff6600] to-[#c012c9] */

/* orange/black/purple */
/* from-[#ea580c] via-[#1e1e1e] to-[#9333ea] */